In [83]:
import numpy as np
import pandas as pd
import time
%matplotlib inline

In [58]:
attacks = pd.read_csv('../assets/02_df.csv')

In [59]:
len(attacks)

1342

In [78]:
attacks

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,pdf,href formula,href,ts_year,ts_month,ts_day,ts_time,ts_date,loc_str,coords
0,2017.11.30.b,30-Nov-2017,2017.0,Unprovoked,COSTA RICA,Cocos Island,Manuelita,Scuba Diving,__ Jimenez,M,...,2017.11.30.b-Jimenez.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017,11,30,NaN,2017-11-30,Manuelita Cocos Island COSTA RICA,None
1,2017.11.30.a,30-Nov-2017,2017.0,Unprovoked,COSTA RICA,Cocos Island,Manuelita,Scuba diving,Rohina Bhandari,F,...,2017.11.30.a-Bhandari.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017,11,30,NaN,2017-11-30,Manuelita Cocos Island COSTA RICA,None
2,2017.11.25.R,Reported 25-Nov-2017,2017.0,Sea Disaster,LIBYA,NaN,Gars Garabulli,2 boats capsized,31 migrants,NaN,...,2017.11.25.R-Libya.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017,11,25,NaN,2017-11-25,NaN,None
3,2017.11.24,24-Nov-2017,2017.0,Unprovoked,USA,California,"Stillwater Cove, Monterey County",Spearfishing,Grigor Azatian,M,...,2017.11.24-Azatian.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017,11,24,13:45,2017-11-24,"Stillwater Cove, Monterey County California USA",None
4,2017.11.18,18-Nov-2017,2017.0,Unprovoked,USA,Florida,"Floridana Beach, Brevard County",Surfing,Kaia Anderson,F,...,2017.11.18-Anderson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017,11,18,NaN,2017-11-18,"Floridana Beach, Brevard County Florida USA",None
5,2017.11.13.R,Reported 13-Nov-2017,2017.0,Unprovoked,NaN,NaN,NaN,Surfing,Timur Yunusov,M,...,2017.11.13.R-Timur.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017,11,13,NaN,2017-11-13,NaN,None
6,2017.11.13,13-Nov-2017,2017.0,Unprovoked,AUSTRALIA,New South Wales,Avoca Beach,Surfing,Charlie Fry,M,...,2017.11.13-Fry.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017,11,13,16:00,2017-11-13,Avoca Beach New South Wales AUSTRALIA,None
7,2017.11.04,04-Nov-2017,2017.0,Unprovoked,CUBA,Holquin Province,Guardalavaca Beach,Night bathing,Jesús Cabrera González,M,...,2017.11.04-Cuba.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017,11,4,23:30,2017-11-04,Guardalavaca Beach Holquin Province CUBA,None
8,2017.10.31.R,Reported 31-Oct-2017,2017.0,Unprovoked,AUSTRALIA,Queensland,Magnetic Island,Snorkeling,Jack Tolley,M,...,2017.10.21.R-Tolley.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017,10,31,NaN,2017-10-31,Magnetic Island Queensland AUSTRALIA,None
9,2017.10.28,28-Oct-2017,2017.0,Unprovoked,AUSTRALIA,New South Wales,Birubi Point,Surfing,male,M,...,2017.10.28-Birubi.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017,10,28,09:00,2017-10-28,Birubi Point New South Wales AUSTRALIA,None
10,2017.10.26,26-Oct-2017,2017.0,Unprovoked,USA,Hawaii,"White Plains Beach, Oahu",Stand-Up Paddleboarding,male,M,...,2017.10.26-Oahu.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017,10,26,15:00,2017-10-26,"White Plains Beach, Oahu Hawaii USA",None
11,2017.10.23.c,23-Oct-2017,2017.0,Unprovoked,MAURITIUS,Pamplemousses,Le Goulet,Swimming,male,M,...,2017.10.23.c-Mauritius.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017,10,23,NaN,2017-10-23,Le Goulet Pamplemousses MAURITIUS,None
12,2017.10.23.b,23-Oct-2017,2017.0,Unprovoked,USA,Florida,"Juno Beach, Palm Beach County",Surfing,Jason Hartl,M,...,2017.10.23.b-Hartl.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017,10,23,17:00,2017-10-23,"Juno Beach, Palm Beach County Florida USA",None
13,2017.10.23.a,23-Oct-2017,2017.0,Unprovoked,USA,Florida,"Ocean Reef Park, Singer Island, Palm Beach County",Swimming,Susan Peteka,F,...,2017.10.23.a-Peteka.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017,10,23,08:00,2017-10-23,"Ocean Reef Park, Singer Island, Palm Beach Cou...",None
14,2017.10.22,22-Oct-2017,2017.0,Unprovoked,AUSTRALIA,South Australia,Normanville,Kayaking / Fishing,Sarah Williams,F,...,2017.10.22-Williams.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017,10,22,NaN,2017-10-22,Normanville South Australia AUSTRALIA,None
15,2017.10.18,18-Oct-2017,2017.0,Unprovoked,USA,Florida,"Lantana Beach, Palm Beach County",Swimming,Carlos Iribam,M,...,2017.10.18-Iribam.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017,10,18,14:30,2017-10-18,"Lantana Beach, Palm Beach County Florida USA",None
16,2017.10.09,09-Oct-2017,2017.0,Unprovoked,USA,Hawaii,"Davidsons Beach, Kekaha, Kauai",Surfing,Mitch Milan,M,...,2017.10.09-Milan.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017,10,9,18:30,2017-10-09,"Davidsons Beach, Kekaha, Kauai Hawaii USA",None
17,2017.10.05,05-Oct-2017,2017.0,Unprovoked,USA,Hawaii,"Kama‘ole Beach Park, Maui",Snorkeling,female,F,...,2017.10.05-Hawaii.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017,10,5,12:30,2017-10-05,"Kama‘ole Beach Park, Maui Hawaii USA",None
18,2017.10.01,01-Oct-2017,2017.0,Invalid,SOUTH AFRICA,Western Cape Province,Dyer Island,Scuba Diving,Bradley Fick,M,...,2017.10.01-Fick.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017,10,1,NaN,2017-10-01,Dyer Island Western Cape Province SOUTH AFRICA,None
19,2017.09.25.b,25-Sep-2017,2017.0,Unprovoked,USA,Florida,"Hanna Park, Jacksonville, Duval County",Surfing,Justin White,M,...,2017.09.25.b-White.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017,9,25,NaN,2017-09-25,"Hanna Park, Jacksonville, Duval County Florida...",None
20,2017.09.25.a,25-Sep-2017,2017.0,Unprovoked,AUSTRALIA,Western Australia,Gracetown,Surfing,Catherine Vissers,M,...,2017.09.25.a-Vissers.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017,9,25,18:00,2017-09-25,Gracetown Western Australia AUSTRALIA,None
21,2017.09.24.b,24-Sep-2017,2017.0,Invalid,USA,New York,Rockaway,Surfing,Michah Behrend,M,...,2017.09.24.b-Behrend.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017,9,24,15:30,2017-09-24,Rockaway New York USA,None
22,2017.09.24.a,24-Sep-2017,2017.0,Unprovoked,USA,Florida,Fort Worth,Surfing,male,M,...,2017.09.24.a-FortWorth.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017,9,24,14:00,2017-09-24,Fort Worth Florida USA,None
23,2017.09.20,20-Sep-2017,2017.0,Unprovoked,USA,Florida,Palm Beach County,Surfing,Richard Inniss,M,...,2017.09.20-Inniss.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017,9,20,NaN,2017-09-20,Palm Beach County Florida USA,None
24,2017.09.16.b,16-Sep-2017,2017.0,Unprovoked,SPAIN,Canary Islands,Gran Canaria,Body surfing,male,M,...,2017.09.16.b-GrandCanary.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017,9,16,NaN,2017-09-16,Gran Canaria Canary Islands SPAIN,None
25,2017.09.16.a,16-Sep-2017,2017.0,Unprovoked,USA,Florida,"Ponce Inlet, Volusia County",Surfing,male,M,...,2017.09.16.a-Volusia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017,9,16,16:30,2017-09-16,"Ponce Inlet, Volusia County Florida USA",None
26,2017.09.15.b,15-Sep-2017,2017.0,Invalid,SOUTH AFRICA,Western Cape Province,Hawston,Scuba Diving,Wayon Love,M,...,2017.09.15.b-Love.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017,9,15,NaN,2017-09-15,Hawston Western Cape Province SOUTH AFRICA,None
27,2017.09.15.a,15-Sep-2017,2017.0,NaN,SAMOA,Upolu Island,Nofoali’i,Fishing,male,M,...,2017.09.15.a-Samoa.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017,9,15,Nig:t,2017-09-15,Nofoali’i Upolu Island SAMOA,None
28,2017.09.14,Sep-2017,2017.0,Boating,AUSTRALIA,Westerm Australia,Esperance,Fishing,NaN,NaN,...,2017.09.14-EsperanceBoats.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017,9,14,NaN,2017-09-14,Esperance Westerm Australia AUSTRALIA,None
29,2017.09.10.b,10-Sep-2017,2017.0,Unprovoked,AUSTRALIA,Westerm Australia,Sam's Creek area,Swimming,male,M,...,2017.09.10.b-Samson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017,9,10,15:00,2017-09-10,Sam's Creek area Westerm Australia AUSTRALIA,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1312,2007.05.07.b,07-May-2007,2007.0,Unprovoked,USA,Hawaii,"Keawakapu Beach, Maui",Snorkeling,Peller Marion,F,...,2007.05.07.b-PellerMarion.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2007,5,7,12:15,2007-05-08,"Keawakapu Beach, Maui Hawaii USA",None
1313,2007.05.07.a,07-May-2007,2007.0,Unprovoked,USA,Florida,Naples,Swimming,Hans Pruss,M,...,2007.05.07.a-HansPruss.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2007,5,7,08:30,2007-05-07,Naples Florida USA,None
1314,2007.05.04,04-May-2007,2007.0,Sea Disaster,TURKS & CAICOS,Providenciales,NaN,Sea Disaster,Haitian refugees perished when their boat caps...,NaN,...,2007.05.04-HaitianRefugees.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2007,5,4,08:30,2007-05-07,NaN,None
1315,2007.05.00,May-2007,2007.0,Provoked,BAHAMAS,Bimini Islands,NaN,Shark tagging,Sabrina Garcia,F,...,2007.05.00-Garcia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2007,5,0,NaN,2007-05-04,NaN,None
1316,2007.04.26,26-Apr-2007,2007.0,Unprovoked,AUSTRALIA,Queensland,"Mornington Island, Gulf of Carpentaria",Swimming / jumping off a jetty,Lorraine,F,...,2007.04.26-Lorraine.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2007,4,26,NaN,NaN,"Mornington Island, Gulf of Carpentaria Queensl...",None
1317,2007.04.22,22-Apr-2007,2007.0,Unprovoked,USA,Florida,"Hutchinson Island, St. Lucie County",Body boarding,Matthew Honyak,M,...,2007.04.22-Honyak.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2007,4,22,18:00,2007-04-26,"Hutchinson Island, St. Lucie County Florida USA",None
1318,2007.04.20,20-Apr-2007,2007.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chad Guthrie,M,...,2007.04.20-ChadGuthrie.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2007,4,20,12:30,2007-04-22,"New Smyrna Beach, Volusia County Florida USA",None
1319,2007.04.13.R,Reported 13-Apr-2007,2007.0,Boat,USA,Florida,"Florida Keys, Monroe County",Fishing,boat: 48' charter boat GonFishin V,NaN,...,2007.04.13.R-GonFishin.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2007,4,13,17:00,2007-04-20,"Florida Keys, Monroe County Florida USA",None
1320,2007.04.09,09-Apr-2007,2007.0,Unprovoked,NEW CALEDONIA,South Province,Dumbéa,Surfing,Olivier Bertholom,M,...,2007.04.09-Bertholom.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2007,4,9,NaN,2007-04-13,Dumbéa South Province NEW CALEDONIA,None
1321,2007.04.01,01-Apr-2007,2007.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Playing on a sandbar,Jack LoMedico,M,...,2007.04.01-Lomedico.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2007,4,1,16:00,2007-04-09,"New Smyrna Beach, Volusia County Florida USA",None
1322,2007.03.31.b,31-Mar-2007,2007.0,Unprovoked,USA,Florida,"Normandy Beach, Hutchinson Island, St. Lucie ...",Surfing,Larry Olson,M,...,2007.03.31.b-Olson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2007,3,31,13:05,2007-04-01,"Normandy Beach, Hutchinson Island, St. Lucie ...",None
1323,2007.03.31.a,31-Mar-2007,2007.0,Unprovoked,USA,Florida,"Waveland Beach, Hutchinson Island, St. Lucie C...",NaN,male,M,...,2007.03.31.a-Waveland.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2007,3,31,14:20,2007-03-31,"Waveland Beach, Hutchinson Island, St. Lucie C...",None
1324,2007.03.22,22-Mar-2007,2007.0,Unprovoked,YEMEN,Muhafazat Hadramawt,Ras-Alkalb,Murder,At least 29 (and possibly another 71) Somali &...,NaN,...,2007.03.22-EthiopianRefugees.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2007,3,22,13:20,2007-03-31,Ras-Alkalb Muhafazat Hadramawt YEMEN,None
1325,2007.03.21,21-Mar-2007,2007.0,Unprovoked,USA,Florida,Jupiter Inlet,Surfing,Sam Chief,M,...,2007.03.21-Chief.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2007,3,21,NaN,2007-03-22,Jupiter Inlet Florida USA,None
1326,2007.03.20,20-Mar-2007,2007.0,Unprovoked,AUSTRALIA,New South Wales,South Golden Beach,Surfing,Jodie Cooper,F,...,2007.03.20-JodieCooper.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2007,3,20,NaN,2007-03-21,South Golden Beach New South Wales AUSTRALIA,None
1327,2007.03.14.R,Reported 14-Mar-2007,2007.0,Provoked,USA,Florida,Delray Beach,Shark fishing,Gregory Kuehlewind,M,...,2007.03.14.R-Kuehlewind.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2007,3,14,10:00,2007-03-20,Delray Beach Florida USA,None
1328,2007.03.12,12-Mar-2007,2007.0,Unprovoked,AUSTRALIA,Queensland,"Moore Park, north of Bundaberg",Swimming,Mary Jane Ryan,F,...,2007.03.12-Ryan.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2007,3,12,NaN,2007-03-14,"Moore Park, north of Bundaberg Queensland AUST...",None
1329,2007.03.11,11-Mar-2007,2007.0,Unprovoked,USA,Florida,"Tiger Shores Beach, Martin County",Surfing,Adam McMichael,M,...,2007.03.11-McMichael.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2007,3,11,15:30,2007-03-12,"Tiger Shores Beach, Martin County Florida USA",None
1330,2007.03.05.R,Reported 05-Mar-2007,2007.0,Provoked,NEW ZEALAND,Cook islans,Penhryn Island,Spearfishing,Turua William Maretapu,M,...,2007.03.05.R-Maretapu.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2007,3,5,13:00,2007-03-11,Penhryn Island Cook islans NEW ZEALAND,None
1331,2007.02.04,04-Feb-2007,2007.0,Invalid,COSTA RICA,NaN,NaN,Swimming,Jason Cash,M,...,2007.02.04-Cash.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2007,2,4,NaN,2007-03-05,NaN,None
1332,2007.02.03,03-Feb-2007,2007.0,Unprovoked,AUSTRALIA,New South Wales,Shelly Beach,Boogie Boarding,Matthew McIntosh,M,...,2007.02.03-McIntosh.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2007,2,3,NaN,2007-02-04,Shelly Beach New South Wales AUSTRALIA,None
1333,2007.02.00,Feb-2007,2007.0,Unprovoked,NEW CALEDONIA,Loyalty Islands,Ouvéa,Spearfishing,male,M,...,2007.02.00-Ouvea.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2007,2,0,08:00,2007-02-03,Ouvéa Loyalty Islands NEW CALEDONIA,None
1334,2007.01.25.b,25-Jan-2007,2007.0,Unprovoked,NEW CALEDONIA,North Province,Kaala-Gomen,Spearfishing (free diving),Jesse Jizdny,M,...,2007.01.25.b-Jizdny.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2007,1,25,NaN,NaN,Kaala-Gomen North Province NEW CALEDONIA,None
1335,2007.01.25.a,25-Jan-2007,2007.0,Boat,USA,Florida,100 miles off Ft. Myers Beach,Shrimping,boat: 69.5' trawler Christy Nichole,NaN,...,2007.01.25.a-ChristyNichole.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2007,1,25,14:00,2007-01-25,100 miles off Ft. Myers Beach Florida USA,None
1336,2007.01.23,23-Jan-2007,2007.0,Unprovoked,AUSTRALIA,New South Wales,Cape Howe,Diving,Eric Nerhus,M,...,2007.01.23-Nerhus.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2007,1,23,03:30,2007-01-25,Cape Howe New South Wales AUSTRALIA,None
1337,2007.01.19,19-Jan-2007,2007.0,Invalid,AUSTRALIA,New South Wales,Brunswick Heads,Swimming,Thomas Houghton,M,...,2007.01.19-Houghton.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2007,1,19,10:30,2007-01-23,Brunswick Heads New South Wales AUSTRALIA,None
1338,2007.01.14,14-Jan-2007,2007.0,Unprovoked,SOUTH AFRICA,Eastern Cape Province,"Second Beach, Port St. John's",Swimming / Body Surfing,Sibulele Masiza,M,...,2007.01.14-Masiza.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2007,1,14,NaN,2007-01-19,"Second Beach, Port St. John's Eastern Cape Pro...",None
1339,2007.01.09,09-Jan-2007,2007.0,Unprovoked,AUSTRALIA,New South Wales,Sandbar Beach,Surfing,David Sparkes,M,...,2007.01.09-Sparkes.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2007,1,9,NaN,2007-01-14,Sandbar Beach New South Wales AUSTRALIA,None
1340,2007.01.07,07-Jan-2007,2007.0,Invalid,USA,New York,"Smith Point, Long Island",Surfing,Wayne Brodsky,M,...,2007.01.07-Brodsky.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2007,1,7,06:30,2007-01-09,"Smith Point, Long Island New York USA",None
1341,2007.01.05,01-Jan-2007,2007.0,Unprovoked,USA,Hawaii,"Majors Bay, Kaua'i",Surfing,Rich Reed,M,...,2007.01.05-Reed.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2007,1,5,14:00,2007-01-07,"Majors Bay, Kaua'i Hawaii USA",None

In [62]:
attacks.drop(["Unnamed: 0"], axis = 1, inplace = True)

In [66]:
attacks['loc_str'] = attacks['Location']+" " +attacks['Area']+" "+attacks['Country']

In [46]:
from pygeocoder import Geocoder

In [81]:
results = []
for i, l in enumerate(df['loc_str']):
    if i % 10 == 0:
        print('Record {}, sleeping 10 seconds...'.format(i))
        sleep(10)
    
    res_dict = {'loc_str': l}
    if l == 'NaN' or l == 'nan':
        results.append(res_dict)
        continue
    try:
        res = Geocoder.geocode(l)
    except:
        results.append(res_dict)
        continue
    try:
        coords = res[0].coordinates
        res_dict['lat'] = coords[0]
        res_dict['long'] = coords[1]
    except:
        pass
    try:
        res_dict['geo_country'] = res[0].country
    except:
        pass
    results.append(res_dict)

Manuelita Cocos Island COSTA RICA
Manuelita Cocos Island COSTA RICA
nan
Stillwater Cove, Monterey County California USA
Floridana Beach, Brevard County Florida USA

In [ ]:
geocoded = pd.DataFrame(results)
geocoded.head()

In [ ]:
geocoded.rename(columns={'loc_str': 'geo_loc_str'}, inplace=True)

In [ ]:
geocoded.to_csv('../assets/geocoded.csv', index=False)

In [112]:
geocoded = pd.read_csv('../assets/geocoded.csv')

In [114]:
df_geo = pd.concat([attacks, geocoded], axis=1)
df_geo.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,ts_month,ts_day,ts_time,ts_date,loc_str,coords,geo_country,lat,geo_loc_str,long
0,2017.11.30.b,30-Nov-2017,2017.0,Unprovoked,COSTA RICA,Cocos Island,Manuelita,Scuba Diving,__ Jimenez,M,...,11,30,NaN,2017-11-30,Manuelita Cocos Island COSTA RICA,None,Costa Rica,5.528228,Manuelita Cocos Island COSTA RICA,-87.057430
1,2017.11.30.a,30-Nov-2017,2017.0,Unprovoked,COSTA RICA,Cocos Island,Manuelita,Scuba diving,Rohina Bhandari,F,...,11,30,NaN,2017-11-30,Manuelita Cocos Island COSTA RICA,None,Costa Rica,5.528228,Manuelita Cocos Island COSTA RICA,-87.057430
2,2017.11.25.R,Reported 25-Nov-2017,2017.0,Sea Disaster,LIBYA,NaN,Gars Garabulli,2 boats capsized,31 migrants,NaN,...,11,25,NaN,2017-11-25,NaN,None,Thailand,NaN,NaN,NaN
3,2017.11.24,24-Nov-2017,2017.0,Unprovoked,USA,California,"Stillwater Cove, Monterey County",Spearfishing,Grigor Azatian,M,...,11,24,13:45,2017-11-24,"Stillwater Cove, Monterey County California USA",None,United States,36.563945,"Stillwater Cove, Monterey County California USA",-121.942334
4,2017.11.18,18-Nov-2017,2017.0,Unprovoked,USA,Florida,"Floridana Beach, Brevard County",Surfing,Kaia Anderson,F,...,11,18,NaN,2017-11-18,"Floridana Beach, Brevard County Florida USA",None,United States,27.945631,"Floridana Beach, Brevard County Florida USA",-80.497996

In [115]:
len(df_geo[df_geo['loc_str'] != df_geo['geo_loc_str']])

106

In [ ]:
# Nan values were coded as Thailand

In [116]:
geocoded.loc[geocoded['geo_loc_str'].isnull(), 'lat'] = None
geocoded.loc[geocoded['geo_loc_str'].isnull(), 'long'] = None
df_geo.loc[df_geo['geo_loc_str'].isnull(), 'lat'] = None
df_geo.loc[df_geo['geo_loc_str'].isnull(), 'long'] = None

In [118]:
df_geo.to_csv('02_df_geo.csv', index=False)
geocoded.to_csv('../assets/geocoded.csv', index=False)

In [ ]:
# timezones

In [155]:
import re
import requests
from xml.etree import ElementTree

In [121]:
lat_long = df_geo[['lat', 'long']].drop_duplicates()
len(lat_long)

759

In [170]:
lat_long.dropna(inplace=True)

In [173]:
lat_long.reset_index(drop=True, inplace=True)

In [174]:
lat_long.head()

         lat        long
0   5.528228  -87.057430
1  36.563945 -121.942334
2  27.945631  -80.497996
3 -33.465000  151.435000
4  21.122107  -75.838688

In [176]:
base_url = 'http://api.timezonedb.com/v2/get-time-zone'
results = []
for i, row in lat_long.iterrows():
    if i % 100 == 0:
        print(i)
    res_dict = {'lat': row['lat'], 'long': row['long']}
    params = {'key': 'AR3Y902PE4LU', 'by': 'position', 'lat': row['lat'], 'lng': row['long']}
    r = requests.get(base_url, params=params)
    if r.status_code != 200:
        results.append(res_dict)
        continue
    try:
        tree = ElementTree.fromstring(r.content)
        res_dict['gmtoffset'] = tree.find('gmtOffset').text    
        res_dict['tz_abb'] = tree.find('abbreviation').text
        res_dict['tz'] = tree.find('zoneName').text
    except:
        pass
    results.append(res_dict)
    sleep(1)

0
100
200
300
400
500
600
700

In [177]:
timezones = pd.DataFrame(results)

In [ ]:
import requests
from xml.etree import ElementTree

response = requests.get(url)

tree = ElementTree.fromstring(response.content)

In [178]:
timezones.to_csv('timezones.csv')

In [181]:
df_geo.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,ts_month,ts_day,ts_time,ts_date,loc_str,coords,geo_country,lat,geo_loc_str,long
0,2017.11.30.b,30-Nov-2017,2017.0,Unprovoked,COSTA RICA,Cocos Island,Manuelita,Scuba Diving,__ Jimenez,M,...,11,30,NaN,2017-11-30,Manuelita Cocos Island COSTA RICA,None,Costa Rica,5.528228,Manuelita Cocos Island COSTA RICA,-87.057430
1,2017.11.30.a,30-Nov-2017,2017.0,Unprovoked,COSTA RICA,Cocos Island,Manuelita,Scuba diving,Rohina Bhandari,F,...,11,30,NaN,2017-11-30,Manuelita Cocos Island COSTA RICA,None,Costa Rica,5.528228,Manuelita Cocos Island COSTA RICA,-87.057430
2,2017.11.25.R,Reported 25-Nov-2017,2017.0,Sea Disaster,LIBYA,NaN,Gars Garabulli,2 boats capsized,31 migrants,NaN,...,11,25,NaN,2017-11-25,NaN,None,Thailand,NaN,NaN,NaN
3,2017.11.24,24-Nov-2017,2017.0,Unprovoked,USA,California,"Stillwater Cove, Monterey County",Spearfishing,Grigor Azatian,M,...,11,24,13:45,2017-11-24,"Stillwater Cove, Monterey County California USA",None,United States,36.563945,"Stillwater Cove, Monterey County California USA",-121.942334
4,2017.11.18,18-Nov-2017,2017.0,Unprovoked,USA,Florida,"Floridana Beach, Brevard County",Surfing,Kaia Anderson,F,...,11,18,NaN,2017-11-18,"Floridana Beach, Brevard County Florida USA",None,United States,27.945631,"Floridana Beach, Brevard County Florida USA",-80.497996

In [184]:
len(df_geo)

1342

In [187]:
tz_df = df_geo.merge(timezones[['gmtoffset', 'lat', 'long']], on = ['lat', 'long'], how = 'left')

In [188]:
tz_df.to_csv('../assets/03_df.csv')

In [190]:
moon_phase = pd.read_csv('../assets/moon_map.csv')

In [194]:
moon_phase = moon_phase.rename(columns = {'loc_str':'geo_loc_str'})

In [195]:
moon_phase.drop('Unnamed: 0', axis =1, inplace= True)

In [196]:
moon_phase

,ts_date,geo_loc_str,gmtoffset,phase
0,2017-11-30,Manuelita Cocos Island COSTA RICA,-6.0,First Quarter
1,2017-11-25,NaN,NaN,First Quarter
2,2017-11-24,"Stillwater Cove, Monterey County California USA",-8.0,First Quarter
3,2017-11-18,"Floridana Beach, Brevard County Florida USA",-5.0,New Moon
4,2017-11-13,NaN,NaN,Last Quarter
5,2017-11-13,Avoca Beach New South Wales AUSTRALIA,11.0,Last Quarter
6,2017-11-04,Guardalavaca Beach Holquin Province CUBA,-5.0,Full Moon
7,2017-10-31,Magnetic Island Queensland AUSTRALIA,10.0,First Quarter
8,2017-10-28,Birubi Point New South Wales AUSTRALIA,11.0,First Quarter
9,2017-10-26,"White Plains Beach, Oahu Hawaii USA",-10.0,First Quarter
10,2017-10-23,Le Goulet Pamplemousses MAURITIUS,4.0,New Moon
11,2017-10-23,"Juno Beach, Palm Beach County Florida USA",-5.0,New Moon
12,2017-10-23,"Ocean Reef Park, Singer Island, Palm Beach Cou...",-5.0,New Moon
13,2017-10-22,Normanville South Australia AUSTRALIA,NaN,New Moon
14,2017-10-18,"Lantana Beach, Palm Beach County Florida USA",-5.0,New Moon
15,2017-10-09,"Davidsons Beach, Kekaha, Kauai Hawaii USA",-10.0,Full Moon
16,2017-10-05,"Kama‘ole Beach Park, Maui Hawaii USA",-10.0,Full Moon
17,2017-10-01,Dyer Island Western Cape Province SOUTH AFRICA,2.0,First Quarter
18,2017-09-25,"Hanna Park, Jacksonville, Duval County Florida...",-5.0,First Quarter
19,2017-09-25,Gracetown Western Australia AUSTRALIA,8.0,First Quarter
20,2017-09-24,Rockaway New York USA,-5.0,New Moon
21,2017-09-24,Fort Worth Florida USA,-5.0,New Moon
22,2017-09-20,Palm Beach County Florida USA,-5.0,New Moon
23,2017-09-16,Gran Canaria Canary Islands SPAIN,0.0,Last Quarter
24,2017-09-16,"Ponce Inlet, Volusia County Florida USA",-5.0,Last Quarter
25,2017-09-15,Hawston Western Cape Province SOUTH AFRICA,2.0,Last Quarter
26,2017-09-15,Nofoali’i Upolu Island SAMOA,NaN,Last Quarter
27,2017-09-14,Esperance Westerm Australia AUSTRALIA,8.0,Last Quarter
28,2017-09-10,Sam's Creek area Westerm Australia AUSTRALIA,8.0,Last Quarter
29,2017-09-10,Iluka Beach New South Wales AUSTRALIA,10.0,Last Quarter
...,...,...,...,...
1288,2007-05-10,NaN,NaN,Last Quarter
1289,2007-05-09,Kingscliff Beach New South Wales AUSTRALIA,NaN,Last Quarter
1290,2007-05-08,"Keawakapu Beach, Maui Hawaii USA",-10.0,Last Quarter
1291,2007-05-07,Naples Florida USA,NaN,Last Quarter
1292,2007-05-07,NaN,NaN,Last Quarter
1293,2007-05-04,NaN,NaN,Full Moon
1294,2007-04-26,"Hutchinson Island, St. Lucie County Florida USA",-5.0,First Quarter
1295,2007-04-22,"New Smyrna Beach, Volusia County Florida USA",-5.0,First Quarter
1296,2007-04-20,"Florida Keys, Monroe County Florida USA",-5.0,New Moon
1297,2007-04-13,Dumbéa South Province NEW CALEDONIA,11.0,Last Quarter
1298,2007-04-09,"New Smyrna Beach, Volusia County Florida USA",-5.0,Last Quarter
1299,2007-04-01,"Normandy Beach, Hutchinson Island, St. Lucie ...",-5.0,Full Moon
1300,2007-03-31,"Waveland Beach, Hutchinson Island, St. Lucie C...",-5.0,Full Moon
1301,2007-03-31,Ras-Alkalb Muhafazat Hadramawt YEMEN,NaN,Full Moon
1302,2007-03-22,Jupiter Inlet Florida USA,-5.0,New Moon
1303,2007-03-21,South Golden Beach New South Wales AUSTRALIA,11.0,New Moon
1304,2007-03-20,Delray Beach Florida USA,NaN,New Moon
1305,2007-03-14,"Moore Park, north of Bundaberg Queensland AUST...",10.0,Last Quarter
1306,2007-03-12,"Tiger Shores Beach, Martin County Florida USA",NaN,Last Quarter
1307,2007-03-11,Penhryn Island Cook islans NEW ZEALAND,-10.0,Last Quarter
1308,2007-03-05,NaN,NaN,Full Moon
1309,2007-02-04,Shelly Beach New South Wales AUSTRALIA,NaN,Full Moon
1310,2007-02-03,Ouvéa Loyalty Islands NEW CALEDONIA,11.0,Full Moon
1311,2007-01-25,100 miles off Ft. Myers Beach Florida USA,-5.0,First Quarter
1312,2007-01-25,Cape Howe New South Wales AUSTRALIA,11.0,First Quarter
1313,2007-01-23,Brunswick Heads New South Wales AUSTRALIA,11.0,First Quarter
1314,2007-01-19,"Second Beach, Port St. John's Eastern Cape Pro...",2.0,New Moon
1315,2007-01-14,Sandbar Beach New South Wales AUSTRALIA,11.0,Last Quarter
1316,2007-01-09,"Smith Point, Long Island New York USA",-5.0,Last Quarter
1317,2007-01-07,"Majors Bay, Kaua'i Hawaii USA",-10.0,Last Quarter

In [198]:
tz_df.drop('gmtoffset',axis = 1, inplace = True)

In [197]:
len(tz_df)

1342

In [206]:
len(moon_phase)

1318

In [265]:
full_data = tz_df.merge(moon_phase, on = ['ts_date', 'geo_loc_str'], how = 'inner').drop_duplicates()

In [266]:
full_data.drop(["Date", "Year", "Name", 'ts_time', 'coords'], axis =1, inplace = True)

In [267]:
full_data.columns

Index(['Case Number', 'Type', 'Country', 'Area', 'Location', 'Activity',
       'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time', 'Species ',
       'Investigator or Source', 'pdf', 'href formula', 'href', 'ts_year',
       'ts_month', 'ts_day', 'ts_date', 'loc_str', 'geo_country', 'lat',
       'geo_loc_str', 'long', 'gmtoffset', 'phase'],
      dtype='object')

In [268]:
full_data.drop(['Sex ', 'Age', "Injury", "Time"], axis = 1 ,inplace = True)

In [269]:
full_data.drop(['Investigator or Source', 'pdf', "Species ", "href formula"], axis =1, inplace = True)

In [270]:
problems = full_data[full_data['geo_country'] == "Thailand"][full_data[full_data['geo_country'] == "Thailand"]['Country'] != "THAILAND"]

In [249]:
full_data.iterrows()

In [256]:
problems.columns

Index(['Type', 'Country', 'Area', 'Location', 'Activity', 'Fatal (Y/N)',
       'href', 'ts_year', 'ts_month', 'ts_day', 'ts_date', 'loc_str',
       'geo_country', 'lat', 'geo_loc_str', 'long', 'gmtoffset', 'phase'],
      dtype='object')

In [262]:
for i in problems.index:
    if ((full_data['geo_country'][i] == "Thailand") and (full_data['Country'][i] != "THAILAND")):
        full_data.ix[i, 'geo_country'] = full_data['Country'][i]

In [273]:
full_data = pd.read_csv('../assets/full_data.csv')

In [271]:
full_data.to_csv('../assets/full_data.csv')

In [275]:
full_data.columns

Index(['Case Number', 'Type', 'Country', 'Area', 'Location', 'Activity',
       'Fatal (Y/N)', 'href', 'ts_year', 'ts_month', 'ts_day', 'ts_date',
       'loc_str', 'geo_country', 'lat', 'geo_loc_str', 'long', 'gmtoffset',
       'phase'],
      dtype='object')

In [441]:
model_data = full_data[['Type', 'Activity', 'Fatal (Y/N)', 'ts_date', 'ts_year', 'geo_country', 'gmtoffset', 'phase']]

In [442]:
model_data.columns

Index(['Type', 'Activity', 'Fatal (Y/N)', 'ts_date', 'ts_year', 'geo_country',
       'gmtoffset', 'phase'],
      dtype='object')

In [443]:
model_data.loc[model_data['geo_country'] == 'Columbia', 'geo_country'] = "Colombia"
model_data.loc[model_data['geo_country'] == 'Scotland', 'geo_country'] = "United Kingdom"
model_data.loc[model_data['geo_country'] == 'Palestinian Territories', 'geo_country'] = "Israel"

/Users/nmolivo/anaconda/lib/python3.5/site-packages/pandas/core/indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [444]:
model_data.loc[model_data['geo_country'].str.contains('Bahamas', na=False), 'geo_country'] = "Bahamas"
model_data.loc[model_data['geo_country'].str.contains('RÃ©union', na = False), 'geo_country'] = "Reunion"

/Users/nmolivo/anaconda/lib/python3.5/site-packages/pandas/core/indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [445]:
model_data.loc[model_data['geo_country'].str.contains('Turks and Caicos', na=False), 'geo_country'] = "Turks & Caicos"
model_data.loc[model_data['geo_country'].str.contains('Saint Helena', na=False), 'geo_country'] = "Saint Helena"
model_data.loc[model_data['geo_country'].str.contains('United Arab Emirates', na=False), 'geo_country'] = "United Arab Emirates (Uae)"

/Users/nmolivo/anaconda/lib/python3.5/site-packages/pandas/core/indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [447]:
model_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1347 entries, 0 to 1346
Data columns (total 8 columns):
Type           1345 non-null object
Activity       1292 non-null object
Fatal (Y/N)    1320 non-null object
ts_date        1328 non-null object
ts_year        1347 non-null int64
geo_country    1337 non-null object
gmtoffset      1347 non-null int64
phase          1347 non-null object
dtypes: int64(2), object(6)
memory usage: 84.3+ KB

In [448]:
pop_data = pd.read_csv('../assets/wdi_pop_data.csv')

In [449]:
pop_data.drop(['Country Code', "Time Code"], axis =1, inplace=True)

In [450]:
pop_data=pop_data[['Country Name', 'Time', 'Population, total [SP.POP.TOTL]']]

In [451]:
pop_data.columns = ['geo_country', 'ts_year', 'pop']

In [452]:
len(pop_data)

12706

In [453]:
years = []
for i in pop_data['ts_year']:
    try:
        years.append(int(i))
    except:
        years.append(None)

In [454]:
len(years)

12706

In [455]:
pop_data['ts_year'] = years

In [456]:
pop_data['pop_lag'] = pop_data.groupby(['geo_country'])['pop'].shift(1)

In [457]:
pop_data = pop_data[['ts_year', 'geo_country', 'pop_lag']]

In [458]:
pop_data = pop_data[pop_data['ts_year'] > 2005]

In [459]:
len(model_data)

1347

In [460]:
model_data = model_data.merge(pop_data, on = ['geo_country', 'ts_year'], how = 'left')

In [462]:
model_data = model_data[model_data['pop_lag'].notnull()]

In [464]:
len(model_data)

1336

In [468]:
model_data.columns

Index(['Type', 'Activity', 'Fatal (Y/N)', 'ts_date', 'ts_year', 'geo_country',
       'gmtoffset', 'phase', 'pop_lag'],
      dtype='object')

In [474]:
model_data = model_data.join(pd.get_dummies(model_data['phase']))

In [477]:
model_data.groupby(['Type', 'Activity'])['Fatal (Y/N)'].count()

Type        Activity
Boat        Attempting to chase shark out to sea                                      1
            Canoeing                                                                  1
            Fishing                                                                   8
            Shark watching                                                            1
            Shrimping                                                                 1
            Transatlantic Rowing                                                      1
Boating     Canoeing                                                                  2
            Crayfishing                                                               1
            Filming a documentary                                                     1
            Fishing                                                                  13
            Fishing for sharks                                                        1
            Fishing for squid                                                         1
            Fishing in Alabama Deep Fishing Rodeo                                     1
            Kayak Fishing                                                             8
            Kayak fishing                                                             3
            Kayaking                                                                 15
            Kayaking                                                                  2
            Kayaking / Fishing                                                        3
            Kayaking or Wave skiing                                                   1
            Rowing                                                                    2
            Rowing an inflatable dinghy                                               1
            Sailing                                                                   1
            Tagging sharks                                                            1
            Yacht race                                                                1
Invalid     Attempting to Kite surf from Egypt to Saudi Arabia                        1
            Body surfing                                                              1
            Cage Diving                                                               0
            Crabbing                                                                  1
            Crawling                                                                  1
            Diving                                                                    1
                                                                                     ..
Unprovoked  Swimming /  Whale Watching                                                1
            Swimming / Body Surfing                                                   1
            Swimming / Wading                                                         1
            Swimming / jumping off a jetty                                            1
            Swimming / snorkeling                                                     1
            Swimming / treading water                                                 1
            Swimming or Snorkeling                                                    1
            Swimming or boogie boarding                                               1
            Swimming or surfing                                                       1
            Swimming to shore from capsized kayak                                     1
            Swimming to shore with floatioon devices after boat engine conked out     1
            Swimming, attempting to rescue a girl  believed to be drowning            1
            Swimming, poaching abalone                                                1
            Swimming, towing surfboard                                                1
            Tagging sharks                                                            1
            Treading water                                                            1
            Wade Fishing                                                              4
            Wade fishing                                                              1
            Wading                                                                   46
            Wading or swimming                                                        1
            Wading?                                                                   1
            Wakeboarding                                                              1
            Walking                                                                   3
            Walking in surf                                                           1
            Walking out of the water after surfing                                    3
            Washing hands                                                             1
            Washing his feet                                                          1
            Washing sand off a speared fish                                           1
            Windsurfing                                                               3
            Wrangling a shark                                                         1
Name: Fatal (Y/N), Length: 236, dtype: int64

In [479]:
model_data = model_data[model_data['Type'] != 'Invalid']

In [480]:
model_data

,Type,Activity,Fatal (Y/N),ts_date,ts_year,geo_country,gmtoffset,phase,pop_lag,First Quarter,Full Moon,Last Quarter,New Moon
0,Unprovoked,Scuba Diving,N,11/30/17,2017,Costa Rica,-6,First Quarter,4857274,1,0,0,0
1,Unprovoked,Scuba diving,Y,11/30/17,2017,Costa Rica,-6,First Quarter,4857274,1,0,0,0
2,Sea Disaster,2 boats capsized,Y,11/25/17,2017,Libya,3,First Quarter,6293253,1,0,0,0
3,Sea Disaster,Air Disaster,Y,2/8/09,2009,United States,-4,Full Moon,304093966,0,1,0,0
4,Unprovoked,Treading water,N,8/16/08,2008,United States,-4,Full Moon,301231207,0,1,0,0
6,Unprovoked,Surfing,N,11/13/17,2017,Australia,11,Last Quarter,24127159,0,0,1,0
7,Unprovoked,Night bathing,Y,11/4/17,2017,Cuba,-5,Full Moon,11475982,0,1,0,0
8,Unprovoked,Snorkeling,N,10/31/17,2017,Australia,10,First Quarter,24127159,1,0,0,0
9,Unprovoked,Surfing,N,10/28/17,2017,Australia,11,First Quarter,24127159,1,0,0,0
10,Provoked,Measuring sharks,N,4/28/10,2010,United States,-5,Full Moon,306771529,0,1,0,0
11,Unprovoked,Swimming,N,10/23/17,2017,Mauritius,4,New Moon,1263473,0,0,0,1
12,Unprovoked,Surfing,N,11/18/17,2017,United States,-5,New Moon,323127513,0,0,0,1
13,Unprovoked,Surfing,N,10/23/17,2017,United States,-5,New Moon,323127513,0,0,0,1
14,Unprovoked,Kayaking / Fishing,N,10/22/17,2017,Australia,10,New Moon,24127159,0,0,0,1
15,Unprovoked,Swimming,N,10/23/17,2017,United States,-5,New Moon,323127513,0,0,0,1
16,Unprovoked,Swimming,N,10/18/17,2017,United States,-5,New Moon,323127513,0,0,0,1
17,Unprovoked,Surfing,N,9/25/17,2017,United States,-5,First Quarter,323127513,1,0,0,0
19,Unprovoked,Surfing,N,9/24/17,2017,United States,-5,New Moon,323127513,0,0,0,1
20,Unprovoked,Surfing,N,9/25/17,2017,Australia,8,First Quarter,24127159,1,0,0,0
21,Unprovoked,Surfing,N,9/20/17,2017,United States,-5,New Moon,323127513,0,0,0,1
22,Unprovoked,Surfing,N,9/16/17,2017,United States,-5,Last Quarter,323127513,0,0,1,0
23,Unprovoked,Swimming,NaN,9/2/17,2017,United States,-5,First Quarter,323127513,1,0,0,0
24,Unprovoked,Body surfing,N,9/16/17,2017,Spain,0,Last Quarter,46443959,0,0,1,0
25,Unprovoked,Surfing,N,9/2/17,2017,United States,-5,First Quarter,323127513,1,0,0,0
27,NaN,Fishing,N,9/15/17,2017,Samoa,14,Last Quarter,195125,0,0,1,0
28,Boating,Fishing,N,9/14/17,2017,Australia,8,Last Quarter,24127159,0,0,1,0
29,Unprovoked,Swimming,N,9/10/17,2017,Australia,8,Last Quarter,24127159,0,0,1,0
30,Unprovoked,Surfing,N,9/10/17,2017,Australia,11,Last Quarter,24127159,0,0,1,0
31,Unprovoked,Spearfishing,N,9/6/17,2017,Solomon Islands,11,Full Moon,599419,0,1,0,0
32,Unprovoked,"Swimming, poaching abalone",Y,9/3/17,2017,South Africa,2,Full Moon,55908865,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1313,Unprovoked,Surfing,N,5/16/07,2007,Australia,11,New Moon,20697900,0,0,0,1
1314,Unprovoked,Swimming,N,9/7/16,2016,United States,-10,First Quarter,320896618,1,0,0,0
1315,Unprovoked,Snorkeling,N,5/10/07,2007,Seychelles,4,Last Quarter,84600,0,0,1,0
1317,Unprovoked,Body boarding,N,10/28/15,2015,United States,-10,Full Moon,318563456,0,1,0,0
1318,Unprovoked,Surfing,N,2/21/13,2013,United States,-10,First Quarter,313998379,1,0,0,0
1319,Sea Disaster,Sea Disaster,Y,5/7/07,2007,Turks & Caicos,-4,Last Quarter,27642,0,0,1,0
1320,Provoked,Shark tagging,N,5/4/07,2007,Bahamas,-5,Full Moon,335830,0,1,0,0
1321,Unprovoked,Swimming / jumping off a jetty,N,NaN,2007,Australia,10,New Moon,20697900,0,0,0,1
1322,Unprovoked,Surfing,N,10/30/12,2012,United States,-10,Full Moon,311663358,0,1,0,0
1323,Unprovoked,Sitting in the water,N,6/22/12,2012,United States,-10,New Moon,311663358,0,0,0,1
1324,Unprovoked,Surfing,N,NaN,2012,United States,-10,New Moon,311663358,0,0,0,1
1325,Unprovoked,Surfing,N,4/13/07,2007,New Caledonia,11,Last Quarter,235000,0,0,1,0
1326,Unprovoked,Paddle boarding,N,5/25/11,2011,United States,-10,Last Quarter,309348193,0,0,1,0
1327,Unprovoked,Surfing,N,12/11/10,2010,United States,-10,First Quarter,306771529,1,0,0,0
1328,Unprovoked,Surfing,N,8/6/09,2009,United States,-10,Full Moon,304093966,0,1,0,0
1329,Unprovoked,Murder,Y,3/31/07,2007,Yemen,3,Full Moon,21160534,0,1,0,0
1330,Unprovoked,Surfing,N,9/9/08,2008,United States,-10,First Quarter,301231207,1,0,0,0
1331,Unprovoked,Surfing,N,3/21/07,2007,Australia,11,New Moon,20697900,0,0,0,1
1332,Unprovoked,Surfing,N,6/25/07,2007,United States,-10,First Quarter,298379912,1,0,0,0
1333,Unprovoked,Swimming,N,3/14/07,2007,Australia,10,Last Quarter,20697900,0,0,1,0
1335,Provoked,Spearfishing,N,3/11/07,2007,Cook Islands,-10,Last Quarter,14976,0,0,1,0
1337,Unprovoked,Boogie Boarding,N,2/4/07,2007,Australia,11,Full Moon,20697900,0,1,0,0
1338,Unprovoked,Spearfishing,N,2/3/07,2007,New Caledonia,11,Full Moon,235000,0,1,0,0
1339,Unprovoked,Spearfishing (free diving),N,NaN,2007,New Caledonia,11,New Moon,235000,0,0,0,1
1340,Unprovoked,Tagging sharks,N,6/1/14,2014,United States,-11,New Moon,316204908,0,0,0,1
1341,Unprovoked,Diving,N,1/25/07,2007,Australia,11,First Quarter,20697900,1,0,0,0
1343,Unprovoked,Swimming / Body Surfing,Y,1/19/07,2007,South Africa,2,New Moon,48233804.48,0,0,0,1
1344,Unprovoked,Surfing,N,1/14/07,2007,Australia,11,Last Quarter,20697900,0,0,1,0
1345,Provoked,Snorkeling,N,11/19/10,2010,United States,-11,Full Moon,306771529,0,1,0,0
1346,Unprovoked,Scuba diving,N,10/23/10,2010,United States,-5,Full Moon,306771529,0,1,0,0

In [481]:
model_data.to_csv('../assets/04_model_data.csv')

In [490]:
model_data.reset_index(inplace=True)

In [492]:
model_data.drop(['index'], axis =1, inplace = True)

In [498]:
model_data.iloc[24, model_data.columns.get_loc('Type')] = "Unprovoked"
model_data.iloc[287, model_data.columns.get_loc('Type')] = "Unprovoked"
model_data.iloc[287, model_data.columns.get_loc('Fatal (Y/N)')] = "N"

In [509]:
model_data

,Type,Activity,Fatal (Y/N),ts_date,ts_year,geo_country,gmtoffset,phase,pop_lag,Boat,Boating,Provoked,Sea Disaster,Unprovoked
0,Unprovoked,Scuba Diving,N,11/30/17,2017,Costa Rica,-6,2,4857274,0,0,0,0,1
1,Unprovoked,Scuba diving,Y,11/30/17,2017,Costa Rica,-6,2,4857274,0,0,0,0,1
2,Sea Disaster,2 boats capsized,Y,11/25/17,2017,Libya,3,2,6293253,0,0,0,1,0
3,Sea Disaster,Air Disaster,Y,2/8/09,2009,United States,-4,3,304093966,0,0,0,1,0
4,Unprovoked,Treading water,N,8/16/08,2008,United States,-4,3,301231207,0,0,0,0,1
5,Unprovoked,Surfing,N,11/13/17,2017,Australia,11,4,24127159,0,0,0,0,1
6,Unprovoked,Night bathing,Y,11/4/17,2017,Cuba,-5,3,11475982,0,0,0,0,1
7,Unprovoked,Snorkeling,N,10/31/17,2017,Australia,10,2,24127159,0,0,0,0,1
8,Unprovoked,Surfing,N,10/28/17,2017,Australia,11,2,24127159,0,0,0,0,1
9,Provoked,Measuring sharks,N,4/28/10,2010,United States,-5,3,306771529,0,0,1,0,0
10,Unprovoked,Swimming,N,10/23/17,2017,Mauritius,4,1,1263473,0,0,0,0,1
11,Unprovoked,Surfing,N,11/18/17,2017,United States,-5,1,323127513,0,0,0,0,1
12,Unprovoked,Surfing,N,10/23/17,2017,United States,-5,1,323127513,0,0,0,0,1
13,Unprovoked,Kayaking / Fishing,N,10/22/17,2017,Australia,10,1,24127159,0,0,0,0,1
14,Unprovoked,Swimming,N,10/23/17,2017,United States,-5,1,323127513,0,0,0,0,1
15,Unprovoked,Swimming,N,10/18/17,2017,United States,-5,1,323127513,0,0,0,0,1
16,Unprovoked,Surfing,N,9/25/17,2017,United States,-5,2,323127513,0,0,0,0,1
17,Unprovoked,Surfing,N,9/24/17,2017,United States,-5,1,323127513,0,0,0,0,1
18,Unprovoked,Surfing,N,9/25/17,2017,Australia,8,2,24127159,0,0,0,0,1
19,Unprovoked,Surfing,N,9/20/17,2017,United States,-5,1,323127513,0,0,0,0,1
20,Unprovoked,Surfing,N,9/16/17,2017,United States,-5,4,323127513,0,0,0,0,1
21,Unprovoked,Swimming,NaN,9/2/17,2017,United States,-5,2,323127513,0,0,0,0,1
22,Unprovoked,Body surfing,N,9/16/17,2017,Spain,0,4,46443959,0,0,0,0,1
23,Unprovoked,Surfing,N,9/2/17,2017,United States,-5,2,323127513,0,0,0,0,1
24,Unprovoked,Fishing,N,9/15/17,2017,Samoa,14,4,195125,0,0,0,0,1
25,Boating,Fishing,N,9/14/17,2017,Australia,8,4,24127159,0,1,0,0,0
26,Unprovoked,Swimming,N,9/10/17,2017,Australia,8,4,24127159,0,0,0,0,1
27,Unprovoked,Surfing,N,9/10/17,2017,Australia,11,4,24127159,0,0,0,0,1
28,Unprovoked,Spearfishing,N,9/6/17,2017,Solomon Islands,11,3,599419,0,0,0,0,1
29,Unprovoked,"Swimming, poaching abalone",Y,9/3/17,2017,South Africa,2,3,55908865,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1197,Unprovoked,Surfing,N,5/16/07,2007,Australia,11,1,20697900,0,0,0,0,1
1198,Unprovoked,Swimming,N,9/7/16,2016,United States,-10,2,320896618,0,0,0,0,1
1199,Unprovoked,Snorkeling,N,5/10/07,2007,Seychelles,4,4,84600,0,0,0,0,1
1200,Unprovoked,Body boarding,N,10/28/15,2015,United States,-10,3,318563456,0,0,0,0,1
1201,Unprovoked,Surfing,N,2/21/13,2013,United States,-10,2,313998379,0,0,0,0,1
1202,Sea Disaster,Sea Disaster,Y,5/7/07,2007,Turks & Caicos,-4,4,27642,0,0,0,1,0
1203,Provoked,Shark tagging,N,5/4/07,2007,Bahamas,-5,3,335830,0,0,1,0,0
1204,Unprovoked,Swimming / jumping off a jetty,N,NaN,2007,Australia,10,1,20697900,0,0,0,0,1
1205,Unprovoked,Surfing,N,10/30/12,2012,United States,-10,3,311663358,0,0,0,0,1
1206,Unprovoked,Sitting in the water,N,6/22/12,2012,United States,-10,1,311663358,0,0,0,0,1
1207,Unprovoked,Surfing,N,NaN,2012,United States,-10,1,311663358,0,0,0,0,1
1208,Unprovoked,Surfing,N,4/13/07,2007,New Caledonia,11,4,235000,0,0,0,0,1
1209,Unprovoked,Paddle boarding,N,5/25/11,2011,United States,-10,4,309348193,0,0,0,0,1
1210,Unprovoked,Surfing,N,12/11/10,2010,United States,-10,2,306771529,0,0,0,0,1
1211,Unprovoked,Surfing,N,8/6/09,2009,United States,-10,3,304093966,0,0,0,0,1
1212,Unprovoked,Murder,Y,3/31/07,2007,Yemen,3,3,21160534,0,0,0,0,1
1213,Unprovoked,Surfing,N,9/9/08,2008,United States,-10,2,301231207,0,0,0,0,1
1214,Unprovoked,Surfing,N,3/21/07,2007,Australia,11,1,20697900,0,0,0,0,1
1215,Unprovoked,Surfing,N,6/25/07,2007,United States,-10,2,298379912,0,0,0,0,1
1216,Unprovoked,Swimming,N,3/14/07,2007,Australia,10,4,20697900,0,0,0,0,1
1217,Provoked,Spearfishing,N,3/11/07,2007,Cook Islands,-10,4,14976,0,0,1,0,0
1218,Unprovoked,Boogie Boarding,N,2/4/07,2007,Australia,11,3,20697900,0,0,0,0,1
1219,Unprovoked,Spearfishing,N,2/3/07,2007,New Caledonia,11,3,235000,0,0,0,0,1
1220,Unprovoked,Spearfishing (free diving),N,NaN,2007,New Caledonia,11,1,235000,0,0,0,0,1
1221,Unprovoked,Tagging sharks,N,6/1/14,2014,United States,-11,1,316204908,0,0,0,0,1
1222,Unprovoked,Diving,N,1/25/07,2007,Australia,11,2,20697900,0,0,0,0,1
1223,Unprovoked,Swimming / Body Surfing,Y,1/19/07,2007,South Africa,2,1,48233804.48,0,0,0,0,1
1224,Unprovoked,Surfing,N,1/14/07,2007,Australia,11,4,20697900,0,0,0,0,1
1225,Provoked,Snorkeling,N,11/19/10,2010,United States,-11,3,306771529,0,0,1,0,0
1226,Unprovoked,Scuba diving,N,10/23/10,2010,United States,-5,3,306771529,0,0,0,0,1

In [504]:
model_data = model_data[['Type', 'Activity', 'Fatal (Y/N)', 'ts_date', 'ts_year', 'geo_country', 'gmtoffset', 'phase' , 'pop_lag']].join(pd.get_dummies(model_data['Type']))

In [505]:
model_data['phase'].unique()

array(['First Quarter', 'Full Moon', 'Last Quarter', 'New Moon'], dtype=object)

In [508]:
model_data['phase'] = model_data['phase'].map({'New Moon':1,
                         'First Quarter':2,
                         'Full Moon': 3,
                         'Last Quarter': 4})

In [512]:
model_data['Fatal (Y/N)'].unique()

array(['N', 'Y', nan, '2017'], dtype=object)

In [517]:
model_data[model_data['Fatal (Y/N)']=='2017']

,Type,Activity,Fatal (Y/N),ts_date,ts_year,geo_country,gmtoffset,phase,pop_lag,Boat,Boating,Provoked,Sea Disaster,Unprovoked
657,Provoked,Attempting to rescue an injured & beached shark,2017,6/3/12,2012,Italy,1,3,59379449,0,0,1,0,0

In [518]:
model_data.iloc[657, model_data.columns.get_loc('Fatal (Y/N)')] = "N"

In [514]:
model_data.iloc[1121, model_data.columns.get_loc('Fatal (Y/N)')] = "N"
model_data.iloc[186, model_data.columns.get_loc('Fatal (Y/N)')] = "N"
model_data.iloc[21, model_data.columns.get_loc('Fatal (Y/N)')] = "N"

In [521]:
model_data['Fatal (Y/N)'] = pd.get_dummies(model_data['Fatal (Y/N)'])['Y']

In [ ]:
country, activity, Type

In [534]:
type_dummies = pd.get_dummies(model_data['Type'])

In [536]:
type_dummies.columns = ['Boat_type', 'Boating_type', 'Provoked_type', 'Sea Disaster_type', 'Unprovoked_type']

In [538]:
model_data=model_data.join(type_dummies)

In [545]:
model_data.drop('Type', axis =1, inplace=True)

In [554]:
model_data['pop_lag'] = model_data['pop_lag'].astype(float)

In [555]:
model_data['pop_lag'] = np.log(model_data['pop_lag'])

In [556]:
model_data

,Activity,Fatal (Y/N),ts_date,ts_year,geo_country,gmtoffset,phase,pop_lag,Boat_type,Boating_type,Provoked_type,Sea Disaster_type,Unprovoked_type
0,Scuba Diving,0,11/30/17,2017,Costa Rica,-6,2,15.395988,0,0,0,0,1
1,Scuba diving,1,11/30/17,2017,Costa Rica,-6,2,15.395988,0,0,0,0,1
2,2 boats capsized,1,11/25/17,2017,Libya,3,2,15.654989,0,0,0,1,0
3,Air Disaster,1,2/8/09,2009,United States,-4,3,19.532847,0,0,0,1,0
4,Treading water,0,8/16/08,2008,United States,-4,3,19.523389,0,0,0,0,1
5,Surfing,0,11/13/17,2017,Australia,11,4,16.998849,0,0,0,0,1
6,Night bathing,1,11/4/17,2017,Cuba,-5,3,16.255767,0,0,0,0,1
7,Snorkeling,0,10/31/17,2017,Australia,10,2,16.998849,0,0,0,0,1
8,Surfing,0,10/28/17,2017,Australia,11,2,16.998849,0,0,0,0,1
9,Measuring sharks,0,4/28/10,2010,United States,-5,3,19.541614,0,0,1,0,0
10,Swimming,0,10/23/17,2017,Mauritius,4,1,14.049375,0,0,0,0,1
11,Surfing,0,11/18/17,2017,United States,-5,1,19.593558,0,0,0,0,1
12,Surfing,0,10/23/17,2017,United States,-5,1,19.593558,0,0,0,0,1
13,Kayaking / Fishing,0,10/22/17,2017,Australia,10,1,16.998849,0,0,0,0,1
14,Swimming,0,10/23/17,2017,United States,-5,1,19.593558,0,0,0,0,1
15,Swimming,0,10/18/17,2017,United States,-5,1,19.593558,0,0,0,0,1
16,Surfing,0,9/25/17,2017,United States,-5,2,19.593558,0,0,0,0,1
17,Surfing,0,9/24/17,2017,United States,-5,1,19.593558,0,0,0,0,1
18,Surfing,0,9/25/17,2017,Australia,8,2,16.998849,0,0,0,0,1
19,Surfing,0,9/20/17,2017,United States,-5,1,19.593558,0,0,0,0,1
20,Surfing,0,9/16/17,2017,United States,-5,4,19.593558,0,0,0,0,1
21,Swimming,0,9/2/17,2017,United States,-5,2,19.593558,0,0,0,0,1
22,Body surfing,0,9/16/17,2017,Spain,0,4,17.653757,0,0,0,0,1
23,Surfing,0,9/2/17,2017,United States,-5,2,19.593558,0,0,0,0,1
24,Fishing,0,9/15/17,2017,Samoa,14,4,12.181396,0,0,0,0,1
25,Fishing,0,9/14/17,2017,Australia,8,4,16.998849,0,1,0,0,0
26,Swimming,0,9/10/17,2017,Australia,8,4,16.998849,0,0,0,0,1
27,Surfing,0,9/10/17,2017,Australia,11,4,16.998849,0,0,0,0,1
28,Spearfishing,0,9/6/17,2017,Solomon Islands,11,3,13.303716,0,0,0,0,1
29,"Swimming, poaching abalone",1,9/3/17,2017,South Africa,2,3,17.839234,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1197,Surfing,0,5/16/07,2007,Australia,11,1,16.845543,0,0,0,0,1
1198,Swimming,0,9/7/16,2016,United States,-10,2,19.586630,0,0,0,0,1
1199,Snorkeling,0,5/10/07,2007,Seychelles,4,4,11.345690,0,0,0,0,1
1200,Body boarding,0,10/28/15,2015,United States,-10,3,19.579332,0,0,0,0,1
1201,Surfing,0,2/21/13,2013,United States,-10,2,19.564898,0,0,0,0,1
1202,Sea Disaster,1,5/7/07,2007,Turks & Caicos,-4,4,10.227092,0,0,0,1,0
1203,Shark tagging,0,5/4/07,2007,Bahamas,-5,3,12.724360,0,0,1,0,0
1204,Swimming / jumping off a jetty,0,NaN,2007,Australia,10,1,16.845543,0,0,0,0,1
1205,Surfing,0,10/30/12,2012,United States,-10,3,19.557434,0,0,0,0,1
1206,Sitting in the water,0,6/22/12,2012,United States,-10,1,19.557434,0,0,0,0,1
1207,Surfing,0,NaN,2012,United States,-10,1,19.557434,0,0,0,0,1
1208,Surfing,0,4/13/07,2007,New Caledonia,11,4,12.367341,0,0,0,0,1
1209,Paddle boarding,0,5/25/11,2011,United States,-10,4,19.549978,0,0,0,0,1
1210,Surfing,0,12/11/10,2010,United States,-10,2,19.541614,0,0,0,0,1
1211,Surfing,0,8/6/09,2009,United States,-10,3,19.532847,0,0,0,0,1
1212,Murder,1,3/31/07,2007,Yemen,3,3,16.867648,0,0,0,0,1
1213,Surfing,0,9/9/08,2008,United States,-10,2,19.523389,0,0,0,0,1
1214,Surfing,0,3/21/07,2007,Australia,11,1,16.845543,0,0,0,0,1
1215,Surfing,0,6/25/07,2007,United States,-10,2,19.513878,0,0,0,0,1
1216,Swimming,0,3/14/07,2007,Australia,10,4,16.845543,0,0,0,0,1
1217,Spearfishing,0,3/11/07,2007,Cook Islands,-10,4,9.614204,0,0,1,0,0
1218,Boogie Boarding,0,2/4/07,2007,Australia,11,3,16.845543,0,0,0,0,1
1219,Spearfishing,0,2/3/07,2007,New Caledonia,11,3,12.367341,0,0,0,0,1
1220,Spearfishing (free diving),0,NaN,2007,New Caledonia,11,1,12.367341,0,0,0,0,1
1221,Tagging sharks,0,6/1/14,2014,United States,-11,1,19.571901,0,0,0,0,1
1222,Diving,0,1/25/07,2007,Australia,11,2,16.845543,0,0,0,0,1
1223,Swimming / Body Surfing,1,1/19/07,2007,South Africa,2,1,17.691571,0,0,0,0,1
1224,Surfing,0,1/14/07,2007,Australia,11,4,16.845543,0,0,0,0,1
1225,Snorkeling,0,11/19/10,2010,United States,-11,3,19.541614,0,0,1,0,0
1226,Scuba diving,0,10/23/10,2010,United States,-5,3,19.541614,0,0,0,0,1

In [557]:
model_data_1 = model_data.drop('Activity', axis = 1)

In [ ]:
model_data['activity'] = model_data['Activity'].map({'Scuba Diving':'Diving',
                         'Scuba diving':'Diving','2 boats capsized': 'Disaster','Treading water': 'Swimming',
                         'Air Disaster': 'Disaster','Surfing': 'Surfing', 'Night bathing': 'Swimming',                             
                         'Snorkeling': 'Swimming','Measuring sharks': 'Handling','Swimming': 'Swimming', 
                         'Surfing': 'Surfing', 'Kayaking / Fishing': 'Fishing','Body surfing': 'Surfing', 
                         'Fishing': 'Fishing', 'Spearfishing': 'Swimming','Swimming, poaching abalone': 'Swimming',
                         'Wading': 'Shallow Water', 'Canoeing': 'Rowing', 'Feeding sharks': 'Handling',
                         'Paddle boarding':'Rowing','SUP':'Rowing','Body boarding':'Surfing', 'Touching a shark': 'Handling',
                         'Attempting to lasso a shark':'Handling','Surfing ':'Surfing','Tagging sharks':'Handling',
                         'Kakaying': 'Rowing','Washing hands':'Fishing','Grabbing shark for a selfie': 'Handling',
                         'Kayak fishing': 'Fishing','Lobstering': 'Fishing','Surf skiing ':'Surfing',
                         'Free diving': 'Diving','Boogie boarding': 'Surfing','Surf fishing':'Fishing',
                         'Teasing a shark':'Handling','Floating': 'Swimming',
                         'Kite surfing': 'Surfing', 'Standing': 'Shallow Water', 'Free diving / spearfishing':'Diving',
                         'Filming a documentary':'Filming', 'Kayaking':"Rowing", 'Kayaking ': "Rowing", "Photographing fish":"Filming",
                         'Walking':"Shallow Water", "Diving":"Diving", "Playing":"Shallow Water", "Attempting to rescue a shark":"Handling",
                         'Surf-skiing':"Surfing", "Playing in the water":"Shallow Water", "Diving for beche-de-mer":'Diving',
                         'Windsurfing':"Surfing", "Body surfing?":'Surfing', 'Kayak Fishing':'Fishing', 'Photographing the shark':'Filming',
                         'Sea disaster': "Disaster", 
                                                    
                                                    
                                                    
                                                    })

In [529]:
model_data.Activity.unique()

array(['Scuba Diving', 'Scuba diving', '2 boats capsized', 'Air Disaster',
       'Treading water', 'Surfing', 'Night bathing', 'Snorkeling',
       'Measuring sharks', 'Swimming', 'Surfing ', 'Kayaking / Fishing',
       'Body surfing', 'Fishing', 'Spearfishing',
       'Swimming, poaching abalone', 'Wading', nan, 'Canoeing',
       'Feeding sharks', 'Paddle boarding', 'SUP', 'Body boarding',
       'Touching a shark', 'Attempting to lasso a shark', 'Surfng',
       'Tagging sharks', 'Kakaying', 'Washing hands',
       'Grabbing shark for a selfie', 'Kayak fishing', 'Lobstering',
       'Surf skiing ', 'Free diving', 'Boogie boarding', 'Surf fishing',
       'Teasing a shark', 'Floating', 'Kite surfing', 'Standing',
       'Free diving / spearfishing', 'Filming a documentary', 'Kayaking',
       'Photographing fish', 'Walking', 'Diving', 'Playing',
       'Attempting to rescue a shark', 'Surf-skiing',
       'Playing in the water', 'Diving for beche-de-mer', 'Windsurfing',
       'Body surfing?', 'Kayak Fishing', 'Photographing the shark',
       'Sea disaster', 'Lobster fishing', 'Swimming / Wading',
       'Body surfing or Boogie boarding', 'Fishing for shrimp',
       'Standing in inner tube', 'Fishing for sharks', 'Kayaking ',
       'Kite boarding', 'Scallop diving on hookah', 'Body boarding ',
       'Body Boarding', 'Kite Surfing', 'Casting a net', 'Swimming ',
       'Hand feeding sharks', 'Sitting in the water', 'Bodysurfing',
       'Rowing', 'Filming', 'Playing in the surf', 'Diving / Filming',
       'Fishing for blue sharks', 'Boogie Boarding', 'Feeding fish',
       'Playing with an air mattress', 'Swimming or boogie boarding',
       'Free diving ', 'Transatlantic Rowing', 'Petting a shark',
       'Wade fishing', 'Fell into the water', 'Fishing ',
       'Jumping in the waves', 'Shark watching', 'Kitesurfing', 'Sailing',
       'Spearfishing / Free diving',
       'Attempting to remove fishing net from submerged object',
       'Wade Fishing', 'Shark fishing', 'Diving for crayfish',
       'Swimming / snorkeling', 'Diving for Abalone',
       'Surf fishing / wading', 'Kite Boarding',
       'Longline fishing for sharks', 'Wrangling a shark',
       'Attempting to free the shark', 'Cleaning fish',
       'Swimming & snorkeling', 'Fly fishing', "Fishing - 'tag & release'",
       'Swimming to shore with floatioon devices after boat engine conked out',
       'Swimming, towing surfboard', 'Bathing', 'Bodyboarding',
       'Walking out of the water after surfing', 'Jet skiing', 'Wading?',
       'Jumping', 'Attempting to rescue an injured & beached shark',
       'Floating near boat & observing bioluminesce',
       'Removing hook from shark', 'Crayfishing', 'Diving, feeding sharks',
       'Fishing (illegally)', 'Diving, photographing sharks',
       'Playing on a sandbar', 'Shrimping', 'Reviving a sedated shark',
       'Standing, collecting sea stars', 'Floating ',
       'Swimming or Snorkeling', 'Kayaking or Wave skiing',
       'Fishing for snapper', 'Jumped into the water',
       'Fishing in Alabama Deep Fishing Rodeo',
       'Washing sand off a speared fish', 'Floating in tube',
       'Diving / fishing', 'Wakeboarding', 'Diving for abalone',
       'Shark fishing on the Ricardo Astorga',
       'Shark fishing on the Don AgustÃ_n-VI. ', 'Attempting to fix motor',
       'Kneeling in the water', 'Walking in surf', 'Wading or swimming',
       'Swimming /  Whale Watching', 'Standing or boogie boardin',
       'Standing, holding shark pup', 'Rescuing',
       'Swimming / treading water', 'Paddling on kneeboard',
       'Swimming to shore from capsized kayak', 'Fishing for squid',
       'Stand-Up Paddleboarding', 'Paddle-boarding',
       'Swimming, attempting to rescue a girl  believed to be drowning',
       'Washing his feet',
       'Diving, but on the surface when bitten by the shark', 'Yacht race',
       'Sinking of the cargo ship Mark Jason',
       'Fishing boat swamped in storm', 'Paddle-surfing',
       'Swimming or surfing', 'Surf paddling',
       'Rowing an inflatable dinghy', 'Spearfishing (free diving)',
       'Sea Disaster', 'Night diving', 'SUP Foil boarding',
       'Fishing from surfski',
       "Accidentally stood on hooked shark's tail before attempting to gut it ",
       'Attempting to chase shark out to sea', 'Standing / Snorkeling',
       'Removing fish from a trap',
       'The 426-ton cargo ship Mia, laden with cement, capsized in heavy seas ',
       'Kiteboarding', 'Diving ', 'Shark tagging',
       'Swimming / jumping off a jetty', 'Murder',
       'Swimming / Body Surfing'], dtype=object)

In [93]:
USA_data = attacks[attacks["Country"] == "USA"]

In [94]:
num_dict = {}
for i in [2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017]:
    try:
        num_dict[i] = len(USA_data[USA_data['ts_year'] == i])
    except:
        next

In [95]:
num_dict

{2007: 66,
 2008: 60,
 2009: 41,
 2010: 40,
 2011: 48,
 2012: 64,
 2013: 60,
 2014: 65,
 2015: 72,
 2016: 64,
 2017: 61}

In [98]:
list(num_dict.values())

[64, 61, 66, 60, 41, 40, 48, 64, 60, 65, 72]

In [100]:
country_mean_per_year = np.mean(list(num_dict.values()))
country_std_per_year = np.std(list(num_dict.values()))

In [101]:
country_mean_per_year

58.272727272727273

In [102]:
country_std_per_year

10.046174388030039

In [103]:
def log_likelihood_data(data, proposed_mean, proposed_std):
    distribution = stats.norm(proposed_mean, proposed_std) # Set up distribution.
    log_likelihood = distribution.logpdf(data)
    return log_likelihood # Returns log of likelihood.

In [106]:
def log_likelihood_prior(proposed_mean, prior_belief_mean, prior_belief_std):
    prior = stats.norm(prior_belief_mean, prior_belief_std)
    proposed_loglike = prior.logpdf(proposed_mean)
    return proposed_loglike

In [107]:
def get_new_proposal(proposal_distribution_mean, proposal_distribution_std):
    proposal_distribution = stats.norm(proposal_distribution_mean, proposal_distribution_std)
    new_proposed_statistic = proposal_distribution.rvs()
    return new_proposed_statistic

In [563]:
import scipy.stats as stats

In [108]:
def metropolis_sampler(data, current_mean, prior_mean, prior_std):
    # 1. figure out P(data|current_mean) --> likelihood of data
    current_data_loglike = log_likelihood_data(data, current_mean, prior_std)
    # 2. figure out P(current_mean) on prior distribution
    current_prior_loglike = log_likelihood_prior(current_mean, prior_mean, prior_std)
    # 3. combine this into the likelihood of the current mean
    current_loglike = (current_data_loglike + current_prior_loglike)
    
    # 4. get a proposal for a new mean to consider:
    proposed_mean = get_new_proposal(current_mean, 0.2)
    
    # 5. P(data|proposed_mean) 
    proposed_data_loglike = log_likelihood_data(data, proposed_mean, prior_std)
    # 6. P(proposed_mean) on prior distribution
    proposed_prior_loglike = log_likelihood_prior(proposed_mean, prior_mean, prior_std)
    # 7. combine into proposed likelihood
    proposed_loglike = (proposed_data_loglike + proposed_prior_loglike)
    
    # 8. LL(proposed) / LL(current)
    # this will be from 0 to inf.
    acceptance_criterion = np.exp(proposed_loglike - current_loglike)
    
    # 9. get a random number between 0 and 1
    random_fraction = np.random.rand()
    
    # 10. accept if over random_fraction
    if acceptance_criterion > random_fraction:
        return proposed_mean
    else:
        return current_mean

In [109]:
def mcmc(data, initial_proposal, prior_mean, prior_std, iterations=1000):
    
    # 1. keep track of the accepted means:
    accepted_means = [initial_proposal]
    current_mean = initial_proposal
    
    for i in range(iterations):
        if (i % 250) == 0:
            print('Iteration:', i)
        
        current_mean = metropolis_sampler(data, current_mean, prior_mean, prior_std)
        accepted_means.append(current_mean)
        
    return accepted_means

In [567]:
model_data_1_drop_count = model_data_1[model_data_1['geo_country'] == "United States"].drop('geo_country', axis =1)

In [568]:
model_data_1_drop_count = model_data_1.drop(['ts_date'], axis =1)

In [571]:
model_data_1_drop_count = model_data_1_drop_count.drop(['geo_country'], axis =1)

In [574]:
model_data_1_drop_count.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1227 entries, 0 to 1226
Data columns (total 10 columns):
Fatal (Y/N)          1227 non-null uint8
ts_year              1227 non-null int64
gmtoffset            1227 non-null int64
phase                1227 non-null int64
pop_lag              1227 non-null float64
Boat_type            1227 non-null uint8
Boating_type         1227 non-null uint8
Provoked_type        1227 non-null uint8
Sea Disaster_type    1227 non-null uint8
Unprovoked_type      1227 non-null uint8
dtypes: float64(1), int64(3), uint8(6)
memory usage: 45.6 KB

In [572]:
posterior = mcmc(model_data_1_drop_count, 51, country_mean_per_year, country_std_per_year, iterations=250)

Iteration: 0

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [ ]:
print(np.mean(posterior), np.mean(delay))

In [ ]:
fig, ax = plt.subplots(figsize=(7,4))
ax = sns.distplot(posterior, bins=40, kde=False)
delay_mins = np.linspace(10, 30, 200)
prior = stats.norm(20, 5)
prior_pdf = prior.pdf(delay_mins)
ax.plot(delay_mins, prior_pdf, color='darkred', lw=2.5)
plt.show()